.orb {
  padding: 20px;
  display: block;
  width: 33%;
  height: 100%;
}
.orb .orb_graphic {
  position: relative;
  bottom: 0%;
}
.orb .orb_graphic .orb_value {
  position: absolute;
  top: 35%;
  left: 5%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: normal;
  justify-content: center;
  font-size: 1.4em;
  font-weight: bold;
}
.orb .orb_label {
  text-transform: uppercase;
  text-align: center;
  top: 0%;
  font-size: 1em;
}
svg {
  width: 110px;
  height: 110px;
}
svg circle {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke-dasharray: 314.16, 314.16;
  stroke-width: 2;
  fill: transparent;
  r: 35;
  cx: 55;
  cy: 55;
}
svg circle.fill {
  stroke: #d3d3d3;
}
svg circle.progress {
  stroke: #ff6b00;
  transition: stroke-dashoffset 0.35s;
  stroke-dashoffset: 214.16;
  -webkit-animation: NAME-YOUR-ANIMATION 1.5s forwards;
  -webkit-animation-timing-function: linear;
  animation: NAME-YOUR-ANIMATION 1.5s forwards;
  animation-timing-function: linear;
}
@keyframes NAME-YOUR-ANIMATION {
  0% {
    stroke-dashoffset: 314.16;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes NAME-YOUR-ANIMATION {
  0% {
    stroke-dashoffset: 314.16;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
