.page-style {
  width: 100%;
  height: 100%;
  padding-right: 15%;
  padding-left: 15%;
}

.pruebaedwin {
  width: 100%;
  height: 100%;
  padding-right: 15%;
  padding-left: 15%;
}

.page-section {
  width: 100%;
  height: 100%;
}

.scrollable {
  overflow-y: scroll;
}
