@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap");
.board {
  font-family: "Dosis";
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.2rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  line-height: 1.5;
  text-shadow: 1px 1px #666, 3px 3px #000;
  width: 100%;
  height: 80%;
  padding: 20px;
  overflow: hidden;
  color: #fff;
  border: 10px solid #eee;
  background: linear-gradient(#0e0e0e 65%, #030303 66%) top 0.03em center / 100%
    0.3em repeat-y;
  box-shadow: 0px -1px 0px 2px #aaa, 0 -7px 5px -5px #000,
    0 -15px 30px -15px #000, 0 3px 4px -2px #000, -60px 30px 70px -70px #000,
    70px 30px 70px -70px #000, 0px 200px 20px rgba(255, 255, 255, 0.05),
    inset 0 0 25px #000, inset 0 0 5px #000;
}

.board:focus {
  outline: none;
}
.board:after {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: calc(50% + 100px);
  z-index: -1;
}
.board:before {
  content: "";
  position: absolute;

  width: 250px;
  height: 300px;
  background-position: 0%;
  left: calc(50% - 370px);
  top: calc(50vh - 30px);
  -webkit-filter: drop-shadow(20px 10px 20px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(20px 10px 20px rgba(0, 0, 0, 0.3));
}
.board u {
  color: #fd0;
  text-underline-position: under;
}
body {
  background: #666;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}
