.App {
  position: absolute;
  top: 0px; /* Header Height */
  bottom: 0px; /* Footer Height */
  left: 0%; /* Footer Height */
  right: 0px; /* Footer Height */

  width: 100%;
  overflow: auto;
}
* {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}
body {
  -ms-overflow-style: none !important; /* for Internet Explorer, Edge */
  scrollbar-width: none !important; /* for Firefox */
  overflow-y: scroll !important;
}

body::-webkit-scrollbar {
  display: none !important; /* for Chrome, Safari, and Opera */
}
